<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Tentang Kami</h3>
        <p>Deskripsi singkat tentang website Anda dan apa yang ditawarkannya.</p>
      </div>
      <div class="col-md-4">
        <h3>Link Penting</h3>
        <ul>
          <li><a href="#">Beranda</a></li>
          <li><a href="#">Syarat & Ketentuan</a></li>
          <li><a href="#">Kontak</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Kontak</h3>
        <p>Alamat email: <a href="mailto:info@websiteanda.com">info@websiteanda.com</a></p>
        <p>Telepon: +62 812 3456 7890</p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2024 Website Anda</p>
  </div>